/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-icon {
    color:blue;
    margin-bottom: 5px;   
}

.mat-paginator {
  margin-bottom: 75px;
}

.tool-bar-items .mat-icon-button {
  width: 100px;
  margin-right: 10px;
}
