<mat-list>
  <mat-list-item>
    <div *ngIf='!product'>
      <button mat-button color="accent"> {{id? 'Working...': 'Select an invoice-product from the list'}}</button>
    </div>
    <div *ngIf='id && !product'>
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
  </mat-list-item>
</mat-list>

<div *ngIf='product'>
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>local_mall</mat-icon> Product: {{product.aiPartNumber}}
      </mat-card-title>
      <mat-card-subtitle>
        <p><strong>Manufacture No: </strong> {{product.manufactureNumber}} </p>
        <p><strong>Manufacture: </strong> {{product.manufactureName}} </p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img matLine mat-card-image class="mat-card-image" src="data:image/png;base64,{{product.productImage.imageFull}}"
        alt="Photo of {{product.aiPartNumber}}">
      <p>{{product.productDescription}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>