<mat-toolbar color="primary" [class.mat-elevation-z8]="true">
    <span>{{title}}</span>
    <button mat-icon-button matTooltip="Dashboard" [routerLink]="['']">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Contact Manager" [routerLink]="['/contactmanager']">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Customer Manager" [routerLink]="['/customermanager']">
        <mat-icon>people_outine</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Invoices Manager" [routerLink]="['/invoicemanager']">
        <mat-icon>money</mat-icon>
    </button>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <button mat-button>
        <mat-icon>input</mat-icon> login
    </button>
</mat-toolbar>

<router-outlet></router-outlet>