<div *ngIf='!customer'>
  <mat-spinner></mat-spinner>
</div>
<div *ngIf='customer'>
  <mat-card>
    <mat-icon>people</mat-icon>
    <mat-card-title>
      {{customer.username}}
      <mat-card-subtitle>
        <P>City: {{customer.city}}</P>
      </mat-card-subtitle>
    </mat-card-title>
    <mat-card-content>

      <mat-tab-group>
        <mat-tab label="Notes">

          <form class="example-form">
            <mat-form-field class="example-full-width">
              <textarea matInput readonly=true cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="15"
                cdkAutosizeMaxRows="20"> {{customer.notes}} </textarea>
            </mat-form-field>
          </form>

        </mat-tab>
        <mat-tab label="Details">
          <p> Name: {{customer.firstName || "firstName"}} {{customer.lastname || "lastName"}}</p>
          <p> Address: {{customer.address}},{{customer.city}}, {{customer.state}} {{customer.zipCode}} </p>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
<mat-card>
  <div *ngIf='customer'>
    <h1>Main Content</h1>
    <p> Name: {{customer.firstName || "firstName"}} {{customer.lastname || "lastName"}}</p>
    <p> Address: {{customer.address}},{{customer.city}}, {{customer.state}} {{customer.zipCode}} </p>
  </div>
</mat-card>