<mat-list>
  <mat-list-item>
    <div *ngIf='!invoiceProduct'>
      <button mat-button color="accent"> {{id? 'Working...': 'Select an invoice-product from the list'}}</button>
    </div>
    <div *ngIf='id && !invoiceProduct'>
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
  </mat-list-item>
</mat-list>

<div *ngIf='invoiceProduct'>
  <mat-card class="card-container">

    <mat-card-title *ngIf='customer'>
      Invoice-Product details
      <mat-nav-list>
        <a mat-list-item href="/customermanager/{{customer.id}}" matTooltip="Details {{customer.id}}">
          <mat-icon>people</mat-icon>{{customer.username}}
        </a>
      </mat-nav-list>
    </mat-card-title>

    <mat-card-subtitle>

      <mat-nav-list>
        <a mat-list-item href="/invoicemanager/{{invoice.id}}" matTooltip="Details {{invoice.id}}">
          <mat-icon>account_balance</mat-icon>Invoice: {{invoice.id}}
        </a>
      </mat-nav-list>

      <mat-list>
        <mat-list-item>
          <p matLine><strong> Description: </strong>{{invoice.invoiceDescription}}</p>
          <p matLine><strong>Deposit required: </strong> {{invoice.isNoDepositNeeded == 1? 'Yes' : 'No'}} </p>
          <p matLine><strong>Confimed: </strong> {{invoice.isConfirmed == 1? 'Yes' : 'No'}} </p>
          <p matLine><strong>Status: </strong>
            <span *ngIf='invoice.associatedStatusId == 4'>Lost</span>
            <span *ngIf='invoice.associatedStatusId == 7'>Paid In Full</span>
          </p>
        </mat-list-item>

        <mat-list-item>
          <mat-icon>shop</mat-icon>Invoice-Product: {{invoice.id}} {{invoiceProduct.aiPartNumber}} 
          <mat-chip-list>
            <mat-chip color="accent" selected>{{invoiceProduct.room}}</mat-chip>
          </mat-chip-list>
        </mat-list-item>

      </mat-list>

      <mat-nav-list>
        <a mat-list-item href="/productmanager/{{invoiceProduct.product.id}}"
          matTooltip="Details {{invoiceProduct.product.id}}">
          <mat-icon>local_mall</mat-icon>Product: {{invoiceProduct.product.aiPartNumber}}
        </a>
      </mat-nav-list>
    </mat-card-subtitle>

    <mat-card-content>
      <mat-tab-group>

        <mat-tab label="Invoice-Product">
          <mat-list>
            <mat-list-item>
              <p matLine><strong>AI no: </strong>{{invoiceProduct.aiPartNumber}}</p>
              <p matLine><strong>Description: </strong>{{invoiceProduct.productDescription}}</p>
              <p matLine><strong>Sell Price: </strong>{{invoiceProduct.sellPrice | currency}}</p>
              <p matLine><strong>Cost: </strong>{{invoiceProduct.cost | currency}}</p>
              <p matLine><strong>Cost additional: </strong>{{invoiceProduct.additionalCost | currency}}</p>
              <p matLine><strong>Cost new: </strong>{{invoiceProduct.newCost | currency}}</p>
              <p matLine><strong>Quantity: </strong>{{invoiceProduct.qty}}</p>
              <p matLine><strong>Priority: </strong>{{invoiceProduct.priority}}</p>
              <p matLine><strong>Revision: </strong>{{invoiceProduct.dateAdded | date}}</p>
            </mat-list-item>
          </mat-list>
          <p><br></p>
        </mat-tab>

        <mat-tab label="Product">
          <mat-list>
            <mat-list-item>
              <p matLine><strong>AI no: </strong>{{invoiceProduct.product.aiPartNumber}}</p>
              <p matLine><strong>Description: </strong>{{invoiceProduct.product.productDescription}}</p>
              <p matLine><strong>Manufacture No: </strong>{{invoiceProduct.product.manufactureNumber}}</p>
              <p matLine><strong>Manufacture: </strong>{{invoiceProduct.product.manufactureName}}</p>
              <p matLine><strong>Manufacture Url: </strong>{{invoiceProduct.product.mfgUrl}}</p>
              <p matLine><strong>Manufacture Instrutions Url: </strong>{{invoiceProduct.product.mfgManualUrl}}</p>
              <p matLine><strong>Retail: </strong>{{invoiceProduct.product.retail | currency}}</p>
              <p matLine><strong>Cost: </strong>{{invoiceProduct.product.cost | currency}}</p>
              <!--
                <p matLine><strong>Image: </strong>{{product.productImage.id}}</p>
                -->
              <!--
                <app-product [Product]="invoiceProduct.product"> </app-product>
                -->
            </mat-list-item>
          </mat-list>
          <p><br></p>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>