/* Structure */
.card-container {
  margin-top: -80px;
}

button .mat-icon {
    color:blue;
    margin-top: -20px;
    margin-right: -20px; 
}

a.mat-list-item {
  max-width: 300px;
}

a .mat-icon {
  color: blue;
}

 tr.border_top td{
    border-top: 1px solid black;
  }

  mat-chip-list {
    margin-left: 10px;
  }